* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container{
    width: 100vh;
    height: 100vh;
    display: flex;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.counter{
    width: 30%;
    display: flex;
    justify-content: center;
}
.incr-btn,
.dec-btn,
.reset{
    height: 50px;
    width: 120px;
    padding: 0 40px;
    border-radius: 10px;
    font-size: 40px;
    background-color: #070ac4c4;
    border: 2px solid #6412cfd2;
    color: rgba(11, 163, 171, 0.989);
    margin: 20px;
    cursor: pointer;
    
}
.reset{
    font-size: 20px;
}
.display{
    height: 50px;
    min-width: 120px;
    border-radius: 10px;
    background-color: rgba(255, 0, 0, 0.187);
    margin-top: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
